/* Styles specific to content recommender dashboard */
.colWatched {
	width: 120px;
}
th:last-child, td:last-child {
	text-align: center;
}

table {
	width: 100%;
}

td {
	word-wrap: break-word;
	/* Have to override bootstrap */
	vertical-align: middle!important;
}

.videoProgressCell, .questionCorrectCell, .questionAttemptsCell {
	text-align: center;
}

.questionNumberCell, .videoRefCell {
	text-align: right;
}

.questionTextCell img {
	/* Don't let images in questions break the table layout */
	max-width: 150px;
}

.questionLaunchCell {
	font-size: 150%;
}

.progressCircle {
	border: none;
	background: transparent;
}

/* Concepts */


/* Recommendations */
.recommendInfo {
	display: inline-block;
	float: right;
	height: 100%;
	text-align: right;
	line-height: 100%;
	cursor: pointer;
}

.recommendQuestionDisplay button {
	margin: 5px;
}
.recommendQuestionDisplay .label {
	margin-left: 5px;
}

.recommendQuestionInfoTable span span:first-child {
	text-align: right;
	width: 100px;
	padding-right: 5px;
}

/* Scatterplot */
.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

/* Advanced */
.advancedToggleOptional {
	display: none;
}
.advancedToggleLi.active .advancedToggleOptional {
	display: inline!important;
	margin: 10px 0px 0px 20px;
}

/* Classes to hide certain elements until the corresponding option is toggled on */
.advancedMore, .advancedMoreClass, .advancedScatterplot, .advancedScatterplotClass, .advancedMasteryGraph, .advancedAll {
	display: none;
}
/* Showing and hiding certain ones based on toggles */
.advancedHide {
	display: none;
}
.advancedShow {
	display: block;
}
table.advancedShow {
	display: table;
}
table.advancedShow tr, tr.advancedShow {
	display: table-row;
}
table.advancedShow tr td, tr.advancedShow td, td.advancedShow {
	display: table-cell;
}

