/* Styles specific to content recommender dashboard */
.colWatched {
	width: 120px;
}
th:last-child, td:last-child {
	text-align: center;
}

table {
}

td {
	word-wrap: break-word;
	/* Have to override bootstrap */
	vertical-align: middle!important;
}

.videoProgressCell, .questionCorrectCell, .questionAttemptsCell {
	text-align: center;
}

.questionNumberCell, .videoRefCell {
	text-align: right;
}

.questionTextCell img {
	/* Don't let images in questions break the table layout */
	max-width: 150px;
}

.questionLaunchCell {
	font-size: 150%;
}

.progressCircle {
	border: none;
	background: transparent;
}

/* Concepts */

/* Recommendations */
.recommendInfo {
	display: inline-block;
	float: right;
	height: 100%;
	width: 30px;
	text-align: right;
	line-height: 100%;
	cursor: pointer;
}

.recommendQuestionDisplay button {
	margin: 5px;
}

/* Advanced */
.advancedToggleOptional {
	display: none;
}
.advancedToggleLi.active .advancedToggleOptional {
	display: inline!important;
	margin: 10px 0px 0px 20px;
}
