/* Bootstrap rows and columns */
.container {
	padding-left: 0px;
}
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* Statements */
.statementTable {
	border-collapse: collapse;
}
.statementTable td {
	border: solid gray 1px;
	padding: 4px;
}
.statementTable th {
	border: solid gray 1px;
	padding: 4px;
	text-align: center;
	background-color: #ddd;
}

/* Dashboard Selector */
.dashboardOption {
	width: 326px;
	border: solid #ccc 1px;
	border-radius: 10px;
	padding: 13px;
	float: left;
	margin: 10px;
}

.dashboardOption p {
	margin-bottom: 10px!important;
}

.dashboardOption .btn-primary {
	width: 100%;
}

@media (max-width: 768px) {
	.dashboardOption {
		width: 216px;
		margin-left: 50px;
	}
	.dashboardOption img {
		width: 150px;
		height: auto;
	}
}


/* Dashboard */
.visualization {
	border: solid gray 1px;
	border-radius: 4px;
	padding: 10px;
	margin: 0px;
}
.visualization .spinner {
	margin: 0 auto;
	text-align: center;
	display: block;
}
.visualization .spinner::after {
	content: "Loading...";
}

.visualization text {
	fill: white;
	font: 10px Helvetica, sans-serif;
	text-transform: capitalize;
}
.visualization .axis text {
	fill: black!important;
	font: 10px Helvetica, sans-serif;
}
.visualization .axis path, .visualization .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.visualization .x.axis path {
	display: none;
}

/* Specific visualizations */
#confidenceAverage text {
	fill: black;
}
#confidenceAverage .axis path {
	display: inherit;
	stroke: none;
	fill: url(#confidenceGradient);
}

/* Tooltips */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  margin: 0px;
  z-index: 10000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

input[disabled] + label {
	color: #ccc;
	cursor: not-allowed;
}

.capsLabel {
    padding-left: 15px;
    font-size: 100%;
    font-weight: normal;
    letter-spacing: 1px;
    color: #51586a;
    text-transform: uppercase;
}

/* Feedback Form */
#feedbackTypeSelector {
	margin-bottom: 10px;
}
#feedbackTextArea {
	font-size: 110%;
	resize: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-bottom: 0px;
}
#feedbackSendButton {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top: none;
	margin-top: 0px;
}
#feedbackResult {
	font-size: 110%;
}
#feedbackSpinner {
	display: block;
	text-align: center;
}

/* Showing and hiding certain ones based on toggles */
.advancedHide {
	display: none;
}
.advancedShow {
	display: block!important;
}
.advancedShow.inlineShow {
	display: inline!important;
}
tr.advancedShow {
	display: table-row!important;
}
td.advancedShow {
	display: table-cell!important;
}
table.advancedShow {
	display: table!important;
}
/*table.advancedShow tr, tr.advancedShow {
	display: table-row;
}
table.advancedShow tr td, tr.advancedShow td, td.advancedShow {
	display: table-cell;
}*/

/* Footer */
footer {
	margin-left: 3em;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
