
/* Statements */
.statementTable {
	border-collapse: collapse;
}
.statementTable td {
	border: solid gray 1px;
	padding: 4px;
}
.statementTable th {
	border: solid gray 1px;
	padding: 4px;
	text-align: center;
	background-color: #ddd;
}

/* Dashboard */
.visualization {
	border: solid gray 1px;
	border-radius: 4px;
	padding: 10px;
}

#barGraph rect {
	fill: steelblue;
}
#barGraph text {
	fill: white;
	font: 10px Helvetica, sans-serif;
}
#barGraph .axis text {
	fill: black!important;
	font: 10px Helvetica, sans-serif;
}
#barGraph .axis path, #barGraph .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
