/* Styles specific to content recommender dashboard */
/* From http://stackoverflow.com/questions/14580346/vertical-divider-between-two-columns-in-bootstrap */
.row.vertical-divider > div[class^="col-"] {
  /*padding-bottom: 100px;
  margin-bottom: -100px;*/
  border-left: 3px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}
.colWatched {
	width: 120px;
}
th:last-child, td:last-child {
	text-align: center;
}

table {
	width: 100%;
}
table img, td img {
	max-width: 100%;
}

thead, th {
	background-color: #fff;
}

td {
	word-wrap: break-word;
	/* Have to override bootstrap */
	vertical-align: middle!important;
}

/* .videoProgressCell, .questionCorrectCell, .questionAttemptsCell {
	text-align: center;
}

.questionNumberCell, .videoRefCell {
	text-align: right;
}

.questionTextCell img {
	max-width: 150px;
}

.questionLaunchCell {
	font-size: 150%;
}

.progressCircle {
	border: none;
	background: transparent;
}*/

/* Recommendations */
#recommendSection .panel-heading {
	cursor: pointer;
}

#recommendSection .btn {
	margin: 5px;
}

.recommendPanelBody {
	max-height: 400px;
	height: 100%;
	overflow-y: scroll;
}

.recommendInfo {
	font-style: italic;
	margin: 10px;
}

.recommendInfo h4 {
	line-height: 150%;
}

.recommendInfo p {
	margin-left: 45px;
}

.recommendInfo .glyphicon {
	font-size: 150%;
	line-height: 100%;
	float: left;
	margin: 5px 15px 10px 10px;
}

#recommendTabs li {
}

.countBadge {
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
	border: solid #ccc 1px;
    border-radius: 10px;
	float: right;
}

.countBadge:empty {
	display: none;
}

.recommendQuestionDisplay button {
	margin: 5px;
}
.recommendQuestionDisplay .label {
	/*margin-left: 5px;*/
}

.recommendQuestionInfoTable span span:first-child {
	text-align: right;
	width: 100px;
	padding-right: 5px;
}

#recommendSection tr {
	border-bottom: 1px solid #ddd!important;
}

#recommendSection td {
	padding: 5px;
	max-width: 40%!important;
}
.correctIcon {
	color: #5cb85c;
}
.incorrectIcon {
	color: #d9534f;
}
.correct-falseHolder .correctIcon {
	display: none;
}
.correct-trueHolder .incorrectIcon {
	display: none;
}

#recommendSectionHolder {
	max-height: 90%;
	/*overflow: auto;*/
}

/* Scatterplot */
.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.quadrantLine {
	fill: none;
	stroke:gray;
	shape-rendering: crispEdges;
}

.quadrant {
	fill: transparent;
}
.activeQuadrant {
}

.quadrantInfo {
	float: right;
	padding-right: 50px;
}

.conceptPoint {
	r: 6px;
	cursor: pointer;
	transition: all 150ms ease-out;
	stroke: #337ab7;
	stroke-width: 0;
}

.conceptPoint:hover {
	r: 9px;
}

.selectedConceptPoint, .selectedConceptPoint:hover {
	stroke-width: 2;
	r: 10px;
}

.studentPoint:hover {
	r: 10px;
}

.classPoint {
	pointer-events: none;
}
.classPoint:hover {
	r: 6px;
}

#lowConceptBox {
	width: 40px;
	height: 40px;
	fill: white;
	stroke: black;
	stroke-width: 1;
	cursor: pointer;
}

#lowConceptPoint {
	r: 10;
	fill: #d9534f;
	pointer-events: none;
}

.lowConceptsList {
	max-height: 300px;
	overflow: auto;
	position: relative;
    bottom: -30px;
    margin-top: -39px;
    padding-top: 10px;
}
.lowConceptsList li {
	cursor: pointer;
}
.lowConceptsList li:hover {
	background: #ddd;
}

.scopeOptionLabel select {
	display: none;
	background: transparent;
	border: solid white 1px;
	height: 100%;
	max-width: 300px;
	text-shadow: 0 1px 0 #fff;
}
.scopeOptionLabel.active select {
	display: inline!important;
}

.tooltip-inner {
	max-width: 300px !important;
}


.panel-heading ~ .collapse.in {
	/*background: lime!important;*/
}

#pillNavigation li {
	transition: all 100ms ease-out;
	margin-right: 5px;
}
#pillNavigation li.active {
	transform: scale(1.05);
}

/* Get rid of some extra padding to make the page fit vertically without scrolling, at least for 800px screen height */
body {
	padding-bottom: 5px!important;
}

#pillNavigation {
	margin-top: -20px;
	margin-bottom: -5px;
}

footer p {
	margin: 0px!important;
}

/*! jQuery UI - v1.9.2 - 2015-10-31
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-accordion .ui-accordion-header { display: block; cursor: pointer; position: relative; margin-top: 2px; padding: .5em .5em .5em .7em; zoom: 1; }
.ui-accordion .ui-accordion-icons { padding-left: 2.2em; }
.ui-accordion .ui-accordion-noicons { padding-left: .7em; }
.ui-accordion .ui-accordion-icons .ui-accordion-icons { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-accordion-header-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; overflow: auto; zoom: 1; }

