/* Styles specific to student skills dashboard */
/* From http://stackoverflow.com/questions/14580346/vertical-divider-between-two-columns-in-bootstrap */
.row.vertical-divider > div[class^="col-"] {
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 3px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

/* Skills List */
#skillsListSection .col-sm-6::first-child {
	border-right: solid gray 1px;
}
.skillInfo {
	margin-left: 10px;
}
.skillScoreBar {
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	color: white;
}
.skillPercentileHolder small {
	color: white;
}
.skillTemplate {
}
.skillTemplate a {
	padding-left: 35px;
	display: block;
}

/* Time Graph */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
.studentLine {
	stroke: rgb(255, 127, 14);
	color: rgb(255, 127, 14);
}
.classLine {
	stroke: rgb(31, 119, 180);
	color: rgb(31, 119, 180);
}

/* Advanced */
.advancedToggle {
	transition: background-color 100ms ease-out;
}
.advancedToggleLi.active {
	transform: scale(1.05);
	transition: transform 100ms ease-out;
}

/* Classes to hide certain elements until the corresponding option is toggled on */
/*.advancedMore, .advancedMoreClass, .advancedScatterplot, .advancedScatterplotClass, .advancedMasteryGraph, .advancedAll {
	display: none;
}*/
