/* Styles specific to student skills dashboard */
/* From http://stackoverflow.com/questions/14580346/vertical-divider-between-two-columns-in-bootstrap */
.row.vertical-divider > div[class^="col-"] {
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 3px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

/* Skills List */
#skillsListSection .col-sm-6::first-child {
	border-right: solid gray 1px;
}
.skillInfo {
	margin-left: 10px;
}
.skillScoreBar {
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}
.skillPercentileHolder small {
	color: #333;
}


/* Advanced */
/* Classes to hide certain elements until the corresponding option is toggled on */
/*.advancedMore, .advancedMoreClass, .advancedScatterplot, .advancedScatterplotClass, .advancedMasteryGraph, .advancedAll {
	display: none;
}*/
